<section>
    <div class="row m-1">
        <div class="col-md-6 mb-2">
            <div class="card">
               <div class="card-header">
                   Product Utilities
               </div>
               <div class="card-body">
                   <div class="list-group">
                       <a href="/product-category" class="list-group-item">category</a>
                       <a href="/product-list" class="list-group-item">product configaration</a>
                       <a href="/product/receive" class="list-group-item">product receive</a>
                   </div>
               </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Customer Utilities</div>
                <div class="card-body">
                    <div class="list-group">
                        <a class="list-group-item" href="/customer-list">Create Customer</a>
                        <a class="list-group-item" href="/"> Due Customers</a>
                        <a class="list-group-item" href="/">Payment Receive</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Vendor Utilities</div>
                <div class="card-body">
                    <div class="list-group">
                        <a class="list-group-item" href="/vendor-list">Create Vendor</a>                
                        <a class="list-group-item" href="/">make Payment</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Bank Utilities</div>
                <div class="card-body">
                    <div class="list-group">
                        <a class="list-group-item" href="/">Banks</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mt-2">
            <div class="card">
                <div class="card-header">Create Invoice</div>
                <div class="card-body">
                    <div class="list-group">
                        <a class="list-group-item" href="/create-invoice">Make Invoice</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>